@{
    ViewBag.Title = "Home Page";
}
@using WebsiteUploadAnh.Models;
<div class="container-fluid">
    <div class="row" style="height:80px;"></div>
    <div class="row" style="width:100%">
        @foreach (var it in Model)
        {

            <div class="col-md-3" style=" margin: 10px 0">
                <img src="~/Content/Images/halongbay/@it.ImageUrl" style="width:100%;" />
                <div style="text-align:center; font-weight:500"> @it.Imagedate</div>
                @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
            </div>
        }

    </div>
</div>
